<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>plivo voice</title>
</head>
<body>
    <h1>talk to us</h1>
    <form>
        <label>To Number</label>
        <br>
        <input type="text" id="toNumber">
        <br>
        <br>
        <label>from Number</label>
        <br>
        <input type="text" id="fromNumber">
        <br>
        <br>
        <button id="submitBtn">make call</button>
        <br>
    </form>
    <div id="response"></div>
</body>
<script 
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="js/custom.js"></script>
</html>